{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Produtos</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
    <h1>Consulta de Produtos</h1>
    <table class="table table-dark">
        <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome Produto</th>
              <th scope="col">Descrição</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            {% for produto in produtos%}
                <tr>
                    <td scope="row">{{produto.codigo}}</td>
                    <td scope="row">{{produto.nome}}</td>
                    <td scope="row">{{produto.descricao}}</td>
                    <td scope="row">{{produto.quantidade}}</td>
                    <td scope="row">{{produto.valor}}</td>
                </tr>
            {% endfor %}
          </tbody>
    </table>
    </div>
{% bootstrap_javascript jquery='full' %}    
</body>
</html>