<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="../static/css/produto.css">
</head>
<body> 
    <main>
        <h1>Cadastro de Produtos</h1>
        <form method="post" action="{% url 'produtos' %}" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
        
            <button type="submit">Enviar</button>
            <button type="reset">Limpar</button>
        </form>
    </main>
</body>
</html>
